<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Second</title>
</head>
<body>
     <h2>To jest drugi widok</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis consectetur debitis eligendi, excepturi maxime odit optio perferendis quasi, saepe, sunt tempore. Animi cumque hic laboriosam molestias quam rerum voluptatibus?
    <br/>
    <br/>
<!--    Przejdź do strony <a href="/link/first/">pierwszej</a>.-->
    Przejdź do strony <a href="{% url 'linkapp:third' 'abc' %}">trzeci</a>.
</body>
</html>