<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Third</title>
</head>
<body>
     <h2>To jest trzeci widok z parametrem {{param}}</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad asperiores assumenda distinctio earum eligendi est ex fugiat iusto, nam necessitatibus nemo nihil repellat rerum sapiente suscipit tenetur voluptas voluptatibus.
    <br/>
    <br/>
<!--    Przejdź do strony <a href="/link/first/">pierwszej</a>.-->
    Przejdź do strony <a href="{% url 'linkapp:first' %}">pierwszej</a>.
</body>
</html>